<!doctype html>
<html ng-app="calenderApp">
	<head>
		<meta charset="utf-8">
		<title>Calendar App</title>
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/calender.css">
	</head>
	<body ng-controller="CalenderCntrl as vm">
        <div class="row" ng-init="vm.setToday()">
            <div class="col-md-7">
                <div class="page-header">
                  <h1>Calendar-Application <small> by Dattaprasad Mundada</small></h1>
                </div>
                <form>
                    <div class="row form-group" >
                        <div class="col-md-3">
                            <select name="month" disabled="true" ng-model="vm.selectedMonth" class="form-control" onChange="selectDate()">
                                <option ng-repeat="month in vm.monthList">{{ month.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="vm.selectedYear" name="year" SIZE=4 MAXLENGTH=4>
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button" name="Go" ng-click="vm.selectDate()">Go!</button>
                              </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="btn-group">
                                <button class="btn btn-primary" ng-click="vm.setPreviousYear()"> << </button>
                                <button class="btn btn-primary" ng-click="vm.setPreviousMonth()">Previous</button>
                                <button class="btn btn-primary" ng-click="vm.setToday()">Today</button>
                                <button class="btn btn-primary" ng-click="vm.setNextMonth()">Next</button>
                                <button class="btn btn-primary" ng-click="vm.setNextYear()"> >> </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td ng-repeat="weekDay in vm.weekDaysList"> {{ weekDay.label }} </td>
                        </tr>
                    </thead>
                </table>
                <div id="calender">
                    <a ng-repeat="item in vm.list" ng-class="item.flag" >
                        {{ item.day!==0 ? item.day : '' }}
                        <span class="show notify" ng-click="vm.showTodaysAppointment(item)" ng-show="item.appointment"> show </span>
                        <span class="add notify" ng-click="vm.showAppointment(item, false)" ng-show="item.day!==0"> Add </span>
                    </a>
                </div>
            </div>
            <div ng-hide="vm.appointmentsForDay" class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Future Appointments:</h3>
                    </div>
                </div>
                <blockquote ng-repeat="appointment in vm.appointmentList | orderBy: 'month': 'day' | limitTo: 5">
                    <p>
                        {{ appointment.title }}
                        <strong class="editButton" ng-click="vm.showAppointment(appointment, true)"> Edit </strong
                    </p>
                    <footer>
                        {{ appointment.description }}<br>
                        <cite>From: {{ appointment.fromHour }}:{{ appointment.fromMinute }} To: {{ appointment.toHour }}:{{ appointment.toMinute }} [{{ appointment.day }} {{ vm.setMonth(appointment.month) }} {{ appointment.year }}]</cite>
                    </footer>
                </blockquote>
            </div>
            <div ng-show="vm.appointmentsForDay" class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Appointments for the Day:</h3>
                    </div>
                </div>
                <blockquote ng-repeat="appointment in vm.todaysAppointmentList | orderBy: 'month': 'day' ">
                    <p>
                        {{ appointment.title }}
                        <strong class="editButton" ng-click="vm.showAppointment(appointment, true)"> Edit </strong>
                    </p>
                    <footer>
                        {{ appointment.description }}<br>
                        <cite>From: {{ appointment.fromHour }}:{{ appointment.fromMinute }} To: {{ appointment.toHour }}:{{ appointment.toMinute }} [{{ appointment.day }} {{ vm.setMonth(appointment.month) }} {{ appointment.year }}]</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="wrapModal" ng-show="vm.showEditModal">
            <div id="editModal"  class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-hide="vm.disableAdd">Edit the Appointment</h3>
                    <h3 class="panel-title" ng-show="vm.disableAdd">Add the Appointment</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Select Time Period:</label>
                            <div class="row">
                                <div class="input-group col-md-6">
                                  <div class="input-group-addon">From: </div>
                                  <input type="number" ng-model="vm.fromTimeHour" class="form-control" min="0" max="23" placeholder="{{ 'hour' || vm.selectedDate }}" >
                                  <input type="number" ng-model="vm.fromTimeMinute" class="form-control" min="0" max="59" placeholder="{{ 'minutes' || vm.selectedDate }}" >
                                </div>
                                <div class="input-group col-md-6">
                                  <div class="input-group-addon">To: </div>
                                  <input type="number" ng-model="vm.toTimeHour" class="form-control" min="0" max="23" placeholder="{{ 'hour' || vm.selectedDate }}" >
                                  <input type="number" ng-model="vm.toTimeMinute" class="form-control" min="0" max="59" placeholder="{{ 'minutes' || vm.selectedDate }}" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Selected Date:</label>
                            <input type="text" class="form-control" placeholder="{{ vm.selectedDate }}" disabled="true">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Appointment Title:</label>
                            <input type="text" ng-model="vm.title" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description:</label>
                            <textarea type="text" ng-model="vm.description" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <button type="submit"
                            ng-show="vm.disableAdd"
                            class="btn btn-success"
                            ng-click="vm.editAppointment()">Edit</button>
                        <button type="submit"
                            ng-show="!vm.disableAdd"
                            class="btn btn-success"
                            ng-click="vm.saveAppointment()">Save</button>
                        <button type="submit" ng-click="vm.deleteAppointment()" class="btn btn-danger">Delete</button>
                        <button type="submit" ng-click="vm.closeModal()" style="float:right;" class="btn btn-default">Close</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="./js/calender.controller.js"></script>
	</body>
</html>
